---
import defaultImg from "../../images/isekai-money.webp";
import YoutubeModal from "@/components/UI/youtubeModal.astro";
import ProjectLink from "./ProjectLink.astro";

import Substack from "@/components/UI/icons/substack.astro";
import LinkIcon from "@/components/UI/icons/link.astro";
import GithubIcon from "@/components/UI/icons/github.astro";
import { Image } from "astro:assets";
interface Props {
  id: string;
  description: string;
  projectImage: ImageMetadata;
  liveDemoUrl?: string;
  blogPostSlug?: string;
  youtubeModal?: string;
  githubUrl?: string;
  title: string;
}

const {
  title,
  id,
  githubUrl,
  description,
  projectImage,
  liveDemoUrl,
  blogPostSlug,
  youtubeModal,
} = Astro.props;
---

<div
  class={` border-purple-300/30 border-2 max-w-[468px] flex justify-center transition-all duration-150  rounded-sm`}
>
  <section
    class="w-full flex flex-col justify-start h-full p-4 sm:p-6"
  >
    <div>
      <div class="flex justify-between">
        <div class="text-light-200 flex">
          {
            (
              <a
                rel="noopener noreferrer"
                target="_blank"
                href={"/git"}
              />
            )
          }
        </div>
      </div>
      <h1
        class="text-light-200 mt-4 text-2xl font-medium hover:text-light-100"
      >
        {title}
      </h1>
    </div>

    <div class="flex justify-center">
      <div class="mt-4 relative group">
        {/* Purple BG */}
        <div
          class="absolute transition-all z-10 ease-in h-full w-full group hover:bg-transparent bg-gradient-to-tr bg-purple-300 bg-opacity-20 rounded-md"
        >
        </div>
        <Image
          width={450}
          class="rounded-md z-0 transition-all grayscale group-hover:grayscale-0 ease-in"
          src={projectImage ?? defaultImg}
          alt={"Project Image"}
        />
      </div>
    </div>

    <div class="flex flex-col pt-2">
      <div class="text-gray-300 h-[100px] text-sm mt-1">
        <p>
          {description}
        </p>
      </div>
      <div class="flex"></div>
    </div>

    <div class="pt-4">
      <div class="flex flex-wrap gap-x-2">
        {
          liveDemoUrl && (
            <ProjectLink href={liveDemoUrl}>
              Live Demo <LinkIcon />
            </ProjectLink>
          )
        }
        {
          youtubeModal && (
            <YoutubeModal youtubeSrc="" id={id} />
          )
        }
        {
          blogPostSlug && (
            <ProjectLink
              href={`/blog/post/${blogPostSlug}`}
            >
              Blog Post
              <Substack />
            </ProjectLink>
          )
        }
        {
          githubUrl && (
            <ProjectLink href={githubUrl}>
              Git
              <GithubIcon />
            </ProjectLink>
          )
        }
      </div>
    </div>
  </section>
</div>

<!-- style={{ -->
<!--   filter: `${imageHover ? "" : "grayscale(100%)"}`, -->
<!-- }} -->
