---
import RootLayout from "../../layouts/RootLayout.astro";
import { Image } from "astro:assets";
import { remark } from "remark";
import remarkHtml from "remark-html";
import { CLOUDFRONT_URL } from "@data/constants";
import remarkGfm from "remark-gfm";
import DOMPurify from "isomorphic-dompurify";
import BackArrow from "../../components/UI/icons/backArrow.astro";
import { getBlogs } from "../../libs/blogs/index";
import { type SelectBlog } from "../../libs/models/index.ts";
export async function getStaticPaths() {
  const blogs = await getBlogs();
  if (blogs) {
    return blogs.map((blog) => ({
      params: { slug: blog.slug },
      props: blog,
    }));
  } else {
    console.error("FAILED TO PARSE BLOGS");
    return [];
  }
}
type Props = SelectBlog;

const blog = Astro.props;

const blogHtml = await remark()
  .use(remarkGfm)
  .use(remarkHtml)
  .process(blog.blogContent);
const blogContent = DOMPurify.sanitize(blogHtml.toString());

const blogDate = new Date(parseInt(blog.createdAt));
export const prerender = true;
---

<RootLayout>
  <div class="w-full pt-10">
    <div class="mx-auto w-[800px]">
      <a href="/blog" class="text-blue-400"
        ><BackArrow />
      </a>
      <div
        class="flex w-full h-[300px] justify-center py-2"
      >
        <Image
          width={400}
          height={300}
          class="object-cover w-full"
          src={`${CLOUDFRONT_URL}/${blog.imageKey}`}
          alt={blog.title}
        />
      </div>
      <h1 class="text-center text-2xl">{blog.title}</h1>
      <h2>
        {blogDate.getMonth() + 1} - {blogDate.getDay()}
        - {blogDate.getFullYear()}
      </h2>
      <div class="px-2 py-2">
        <div set:html={blogContent} />
      </div>
    </div>
  </div>
  <!-- <BlogPost {...blog}> -->
  <!-- </BlogPost> -->
</RootLayout>
