---
import RootLayout from "../../layouts/RootLayout.astro";
import Header from "../../components/Header.astro";
import Pagination from "@components/UI/Pagination.astro";
import { CLOUDFRONT_URL } from "@data/constants";
import { Image } from "astro:assets";
import {
  getBlogs,
  getTotalAmountOfBlogs,
} from "../../libs/blogs/index";
import { type SelectBlog } from "../../libs/models";
interface Props {
  blogs: SelectBlog[];
  pages: number;
}
export async function getStaticPaths() {
  let blogPage: SelectBlog[][] = [];
  const total = await getTotalAmountOfBlogs();
  console.log(total.data);
  let offset = 0;
  while (true) {
    const blogs = await getBlogs(offset);
    blogPage.push(blogs);
    offset += 10;
    if (blogs.length < 10) {
      break;
    }
  }
  if (!total.success) {
    console.error(
      "Failed to parse total blog posts amount. ",
    );
  }
  // Default to 0 if there was an error
  let count = total.data?.["COUNT(*)"] ?? 0;
  let pages = 1;
  if (count > 10) {
    pages = Math.floor(count / 10);
  }
  return blogPage.map((blogs, ind) => {
    return {
      params: {
        page: (ind + 1).toString(),
      },
      props: { blogs, pages },
    };
  });
}
const { blogs, pages } = Astro.props;
const { page } = Astro.params;
---

<RootLayout>
  <div class="pt-[60px]"></div>
  <main class="flex justify-center">
    <section class="">
      <h1 class="text-3xl py-4 text-gray-100 font-semibold">
        My Latest Posts
      </h1>
      <ul class="space-y-8">
        {
          blogs?.map((post) => {
            const arr = post.imageKey.split(".");
            const imageId = arr[0];
            const ext = arr[1];
            return (
              <li
                class="bg-black/30 w-[600px] border-2 border-gray-800
                rounded-lg p-4"
              >
                <a
                  class=""
                  href={`/blog/post/${post.slug}/`}
                >
                  <div class="flex gap-x-4">
                    <div class="w-[150px]">
                      <Image
                        width={150}
                        height={100}
                        class="object-cover w-[150px] h-[100px]"
                        src={`${CLOUDFRONT_URL}/${imageId}_150x.${ext}`}
                        alt=""
                      />
                    </div>
                    <div class="flex flex-col justify-between gap-y-4">
                      <div>
                        <h4 class="text-2xl font-bold pb-1">
                          {post.title}
                        </h4>
                        <p class="text-gray-400 text-[14px]">
                          {post.description}
                        </p>
                      </div>
                      <div class="text-gray-300 w-full font-medium text-right text-sm">
                        <p>
                          {Intl.DateTimeFormat("en-US", {
                            year: "numeric",
                            month: "long",
                            day: "numeric",
                          }).format(
                            new Date(
                              parseInt(post.createdAt),
                            ),
                          )}
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            );
          })
        }
      </ul>
      <Pagination currentPage={1} totalPage={1} />
    </section>
  </main>
</RootLayout>

<Header />
