---
import RootLayout from "../../layouts/RootLayout.astro";

import Header from "../../components/Header.astro";
import { CLOUDFRONT_URL } from "@/data/constants";
import { Image } from "astro:assets";
import {
  getBlogs,
  getTotalAmountOfBlogs,
} from "../../libs/blogs/index";
import { type SelectBlog } from "../../libs/models";
import Pagination from "@/components/UI/Pagination.astro";
const blogs = await getBlogs();
const total = await getTotalAmountOfBlogs();

let count = total.data?.["COUNT(*)"] ?? 0;
let pages = 1;
if (count > 10) {
  pages = Math.floor(count / 10);
}
---

<RootLayout title="Travis Tarpley | Blog">
  <div class="pt-[60px]"></div>
  <main class="flex justify-center px-4">
    <section class="">
      <h1 class="text-3xl py-4 text-gray-100 font-semibold">
        My Latest Posts
      </h1>
      <ul class="space-y-8">
        {
          blogs?.map((post) => {
            const arr = post.imageKey.split(".");
            const imageId = arr[0];
            const ext = arr[1];
            return (
              <li
                class="bg-black/30 lg:w-[600px] border-2 border-purple-300/20
                rounded-lg p-4"
              >
                <a
                  class=""
                  href={`/blog/post/${post.slug}/`}
                >
                  <div class="flex gap-x-4">
                    <div class="w-[150px] h-[100px]  flex-shrink-0">
                      <Image
                        width={150}
                        height={100}
                        class="object-cover w-[150px] h-[100px]"
                        src={`${CLOUDFRONT_URL}/${imageId}_150x.${ext}`}
                        alt=""
                      />
                    </div>
                    <div class="flex flex-col justify-between gap-y-4">
                      <div>
                        <h4 class="text-2xl font-bold pb-1">
                          {post.title}
                        </h4>
                        <p class="text-gray-400 text-[14px]">
                          {post.description}
                          Lorem ipsum dolor sit, amet
                          consectetur adipisicing elit.
                          Facere
                        </p>
                      </div>
                      <div class="text-gray-300 w-full font-medium text-right text-sm">
                        <p>
                          {Intl.DateTimeFormat("en-US", {
                            year: "numeric",
                            month: "long",
                            day: "numeric",
                          }).format(
                            new Date(
                              parseInt(post.createdAt),
                            ),
                          )}
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            );
          })
        }
      </ul>
      <Pagination currentPage={1} totalPage={pages} />
    </section>
  </main>
</RootLayout>
