---
import RootLayout from "../../layouts/RootLayout.astro";
// import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import { DB_API_URL } from "../../data/constants";
import {
  GetObjectCommand,
  S3Client,
} from "@aws-sdk/client-s3";
const posts = (await getCollection("blog")).sort(
  (a, b) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const resp = await fetch(DB_API_URL + "/blog", {
  headers: {
    Authorization: `Bearer ${process.env.BEARER}`,
  },
})
  .then((r) => r.json())
  .catch((e) => console.log("Error"));

const client = new S3Client({ region: "us-east-1" });
const command = new GetObjectCommand({
  Bucket: "tarp-portfolio-blog",
  Key: "123",
});
console.log(resp);
---

<RootLayout>
  <!-- <BaseHead -->
  <!--   title={SITE_TITLE} -->
  <!--   description={SITE_DESCRIPTION} -->
  <!-- /> -->

  <div class="pt-[60px]"></div>
  <main class="flex justify-center">
    <section>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>
                <img
                  width={720}
                  height={360}
                  src={post.data.heroImage}
                  alt=""
                />
                <h4 class="title">{post.data.title}</h4>
                <p class="date">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</RootLayout>

<Header />
