---
import RootLayout from "../../layouts/RootLayout.astro";
// import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import { Image } from "astro:assets";
import { DB_API_URL } from "../../data/constants";
import { z } from "zod";

const BlogSchema = z.array(
  z.object({
    id: z.number(),
    title: z.string(),
    description: z.string(),
    blogcontent: z.string(),
    imagekey: z.string(),
    created_at: z.string().datetime(),
    updated_at: z.string().datetime(),
  }),
);
const posts = (await getCollection("blog")).sort(
  (a, b) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const resp = await fetch(DB_API_URL + "/blog", {
  headers: {
    Authorization: `Bearer ${process.env.BEARER}`,
  },
})
  .then((r) => r.json())
  .catch((e) => console.log("Error"));
const safeBlogs = BlogSchema.safeParse(resp);
---

<RootLayout>
  <!-- <BaseHead -->
  <!--   title={SITE_TITLE} -->
  <!--   description={SITE_DESCRIPTION} -->
  <!-- /> -->

  <div class="pt-[60px]"></div>
  <main class="flex justify-center">
    <section>
      <ul>
        {
          safeBlogs?.data?.map((post) => (
            <li>
              <a href={`/blog/${post.title}/`}>
                <Image
                  width={300}
                  height={400}
                  src={
                    "https://d21g8sblvruk6e.cloudfront.net/" +
                    post.imagekey
                  }
                  alt=""
                />
                <h4 class="title">{post.title}</h4>
                <p class="date">
                  <FormattedDate
                    date={new Date(post.created_at)}
                  />
                </p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</RootLayout>

<Header />
