---
import RootLayout from "../layouts/RootLayout.astro";
import Home from "../components/Home/Home.astro";
import About from "../components/About/About.astro";
import pattern from "../images/endless-constellation.svg";
import Projects from "../components/Projects/Projects.astro";
import Work from "@/components/Work/Work.astro";
---

<RootLayout>
  <div id="box" class="w-screen h-screen fixed">
    <div
      style={{
        backgroundImage: `url(${pattern.src})`,
        backgroundRepeat: "repeat",
        // transform: "rotateY(40deg)",
      }}
      id="constellation"
      class=`fixed h-full w-full
      [mask-image:radial-gradient(ellipse_50%_50%_at_30%_30%,#000_20%,transparent_95%)]
      top-0 left-0 opacity-40 `
    >
      <div>
        <!-- <Image alt="Svg Pattern" class="" src={pattern} /> -->
      </div>
    </div>
  </div>
  <!-- <Sidebar /> -->
  <!-- <SocialsLeft display={loaded} /> -->
  <!-- <Loader display={loaded} /> -->
  <!-- <Navbar display={loaded} /> -->

  <Home />

  <div
    class="w-full border-t-2 border-purple-300/20 bg-background-100 z-10 pt-24"
  >
    <div
      class="mx-auto w-full z-20 lg:w-[1000px] px-4 bg-background-100"
    >
      <Work />
      <div class="py-4 md:py-24"></div>
      <Projects />
      <div class="py-4 md:py-24"></div>
      <About />
    </div>
  </div>

  <!-- <About /> -->
  <!-- <Work /> -->
  <!-- <Contact /> -->
</RootLayout>
