---
import "@components/../styles/markdown-styles.css";
import RootLayout from "../../../layouts/RootLayout.astro";
import { Image } from "astro:assets";
import { remark } from "remark";
import remarkHtml from "remark-html";
import { CLOUDFRONT_URL } from "@data/constants";
import remarkGfm from "remark-gfm";
import DOMPurify from "isomorphic-dompurify";
import BackArrow from "@components/UI/icons/backArrow.astro";
import { getBlogs } from "@libs/blogs/index";
import { type SelectBlog } from "@libs/models/index.ts";
export async function getStaticPaths() {
  const blogs = await getBlogs();
  if (blogs) {
    return blogs.map((blog) => ({
      params: { slug: blog.slug },
      props: blog,
    }));
  } else {
    console.error("FAILED TO PARSE BLOGS");
    return [];
  }
}
type Props = SelectBlog;

const blog = Astro.props;

const blogHtml = await remark()
  .use(remarkGfm)
  .use(remarkHtml)
  .process(blog.blogContent);
const blogContent = DOMPurify.sanitize(blogHtml.toString());

const blogDate = new Date(parseInt(blog.createdAt));
export const prerender = true;
const arr = blog.imageKey.split(".");
const imageId = arr[0];
const ext = arr[1];
---

<RootLayout
  imageUrl={`${CLOUDFRONT_URL}/${imageId}_800x.${ext}`}
  title={blog.title}
  description={blog.description}
>
  <div class="w-full pt-10">
    <div class="mx-auto w-[800px]">
      <div class="flex">
        <a href="/blog" class="">
          <div
            class="text-blue-400 group rounded-lg px-3 py-1 border border-gray-100"
          >
            <BackArrow />
          </div>
        </a>
      </div>

      <h1 class="text-center font-bold text-4xl py-6 e">
        {blog.title}
      </h1>
      <div class="py-2">
        <div class="flex w-full h-[400px] justify-center">
          <Image
            width={400}
            height={300}
            class="object-cover w-full"
            src={`${CLOUDFRONT_URL}/${imageId}_800x.${ext}`}
            alt={blog.title}
          />
        </div>
      </div>
      <p class="text-center text-xl text-gray-300 pt-2">
        {blog.description}
      </p>
      <h2>
        {blogDate.getMonth() + 1} - {blogDate.getDay()}
        - {blogDate.getFullYear()}
      </h2>
      <div class="py-2 markdown-body p-2">
        <div set:html={blogContent} />
      </div>
    </div>
  </div>
  <!-- <BlogPost {...blog}> -->
  <!-- </BlogPost> -->
</RootLayout>
