---
interface Props {
  position?: "start" | "end";
  title: string;
  startDate: string;
  endDate: string;
  description: string;
  jobPosition: string;
}
let {
  jobPosition,
  position,
  title,
  startDate,
  endDate,
  description,
} = Astro.props;
if (!position) position = "start";
---

<div
  data-position={position}
  class="data-[position=end]:justify-end justify-start w-full flex"
>
  <div
    data-position={position}
    class="md:w-1/2 md:data-[position=start]:justify-end md:data-[position=start]:text-right md:data-[position=end]:text-left text-center md:data-[position=start]:pr-6 md:data-[position=end]:pl-6 flex"
  >
    <div>
      <h3 class="font-medium text-2xl">
        {jobPosition}
      </h3>
      <p class="text-gray-200 pt-2">
        <strong class="">{title}</strong>
        - {startDate} - {endDate}
      </p>
      <p
        class="pt-4 text-[14px] max-w-[350px] text-gray-400"
      >
        {description}
      </p>
    </div>
  </div>
</div>
